<form>
    <div class="form-group">
        <input id="burger-name" type="text" required placeholder="Add a burger " class="form-control"
            name="burger_name">
    </div>

    <button id="add-burger" type="button" class="btn btn-default">Add burger</button>
</form>