<form>
    <div class="form-group">
        <input id="burger-name" type="text" required placeholder="Suggest Here " class="form-control"
            name="burger_name">
    </div>

    <button id="add-burger" type="button" class="btn btn-warning">Suggest It!</button>
</form>