<div class="content-burger__list" id="wax" >
    <p id="response">You may be on to something!</p>
    <p id="yourBurger">{{burger_name}}</p>
    <button class="btn btn-danger favorites" data-id="{{id}}" data-state="{{devoured}}">
         We Got It!
    </button>
</div>

<script>$("#div1").remove()</script>

                {{!-- <p>${result.burger_name}</p>

data-id="${result.id} --}}