 html {
     background-image: url("./images/Dr-Pepper-BBQ-Burgers-8.jpg");
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     color: azure;